.b-navbar__container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
  height: 100px;
  background-color: var(--background);
  position: fixed;
  z-index: 2;
}

.b-navbar__logo {
  width: 40px;
}

.b-navbar__title {
  font-size: 1.25em;
  font-weight: 600;
  font-family: "Valorant Font", sans-serif;
  display: none;
}

.b-navbar__title span {
  color: var(--textDegradatePrimary);
}

.b-navbar__btn{
  color: var(--textSecondary);
  background-color: transparent;
  outline: unset;
  border: unset;
  border-radius: 8px;
  padding: 1em;
  cursor: pointer;
  transition: 0.2s;
}

.b-navbar__btn:hover{
  color: var(--textPrimary);
}

.b-navbar__ul {
  background-color: var(--background);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  display: none;
}

.show {
  display: block;
}

.b-navbar__list{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 100px);
  font-size: 2em;
  width: 100%;
}

.b-navbar__item {
  color: var(--textSecondary);
  transition: 0.2s;
}

.b-navbar__item:hover {
  color: var(--textPrimary);
}

.b-navbar__divider {
  width: 100vw;
  height: 1px;
  background-color: var(--textSecondary);
  opacity: 0.5;
}

@media screen and (min-width: 768px) {
  .b-navbar__title {
    display: block;
  }
  .b-navbar__logo {
    display: none;
  }
  .b-navbar__btn {
    display: none;
  }
  ul {
    display: block;
  }
}