.b-main{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.bubble1{
  height: 700px;
  width: 700px;
  background: radial-gradient(rgba(7, 89, 133, 0.25) 0%, transparent 70%);
  border-radius: 50%;
  position: absolute;
  top: 20%;
  left: 0px;
  animation: move 15s linear infinite;
  overflow-x: hidden;
}

.bubble2{
  height: 500px;
  width: 500px;
  background: radial-gradient(rgba(139, 92, 246, 0.25) 0%, transparent 70%);
  border-radius: 50%;
  position: absolute;
  top: 100px;
  right: 400px;
  animation: secondMove 15s linear infinite;
  overflow-x: hidden;
}

.bubble3{
  height: 600px;
  width: 600px;
  background: radial-gradient(rgba(49, 46, 129, 0.25) 0%, transparent 70%);
  border-radius: 50%;
  position: absolute;
  top: 200px;
  right: 30px;
  animation: thirdMove 10s linear infinite;
  overflow-x: hidden;
}

.background{
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  position: relative;
  overflow-x: hidden;
}

@keyframes move {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(-50px, -50px);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes secondMove {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(50px, 50px);
  }
  100%{
    transform: translate(0, 0);
  }
}

@keyframes thirdMove {
  0%{
    transform: translate(0, 0);
  }
  50%{
    transform: translate(-50px, 50px);
  }
  100%{
    transform: translate(0, 0);
  }
}

@media screen and (max-width: 768px){
  .bubble1{
    display: none;
  }
  .bubble2{
    display: none;
  }
  .bubble3{
    display: none;
  }
}