/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Valorant Font";
  src: url("./assets/font/Valorant Font.ttf");
}

:root {
  --background: rgb(17, 26, 32);
  --textPrimary: rgb(245, 245, 245);
  --textDegradatePrimary: rgb(242, 163, 76);
  --textDegradatePrimaryHover:rgb(237, 185, 114);
  --textDegradateSecundary: rgb(91, 76, 158);
  --textSecondary: rgb(163, 163, 163);
  --mobile: 640px;
  --tablet: 768px;
  --desktop: 1024px;
  --desktop-lg: 1280px;
  --desktop-xl: 1536px;
}

*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  /* border:1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--textPrimary);
  font-family: 'Oswald', sans-serif;
}